# Build Files
bin/*
*.a
*.so

# CMake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Generated config header file
config.h

# Test build files
tests/check_bbptt

# IDE Files
.vscode/*
.idea/*

